/* RESET */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Styles */
body {
  display: grid;
  margin: 0 auto;
  max-width: 800px;
  background-color: #301230;
  padding: 1rem;
}

label,
textarea,
button {
  justify-self: flex-start;
  font-size: 1.5rem;
  margin: 1rem 0;
  border: none;
}
label:focus,
textarea:focus,
button:focus {
  outline-color: #fbf9fb;
}

label {
  color: #d1bed1;
}

textarea {
  width: 100%;
  min-width: max-content;
}

button {
  cursor: pointer;
  color: #fbf9fb;
  border-radius: 10rem;
  align-self: flex-start;
  padding: 1rem;
  background: transparent;
  background-image: linear-gradient(
    45deg,
    #d0acd0 0%,
    #8c2c8c 51%,
    #611b61 100%
  );
}

button:hover,
button:focus,
button:active {
  background-image: linear-gradient(
    35deg,
    #d0acd0 0%,
    #8c2c8c 51%,
    #611b61 100%
  );
}
